<h1>Appointments</h1>
<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>Date</th><th>Pet Name</th><th>Vet Name</th><th>Reason</th><th>Status</th><th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @appointments.each do |app| %>
      <tr>
        <td><%= human_datetime(app.date) %></td>
        <td><%= app.pet.name %></td>
        <td><%= "#{app.vet.first_name} #{app.vet.last_name}" %></td>
        <td><%= app.reason %></td>
        <td><span class="badge <%= status_color(app.status) %>"><%= status_badge(app.status) %></span></td>
        <td><%= link_to 'View Details', appointment_path(app), class: "btn btn-sm btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>